[Unit]
Description=Portage Distfiles Cache
After=network.target

[Service]
ExecStart=/usr/bin/portcache -c /etc/portcache/portcache.toml

# Hardening options
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

# adjust this to where your cache is stored
ReadWritePaths=/var/cache/portcache

[Install]
WantedBy=multi-user.target
